/* The switch - the box around the slider */
.userInputBox {
    padding: 3em;
    border-style: solid;
    border-width: 1x;
    border-radius: 5px;
    border-color: gray;
}

.smallText {
    font-size: 62.5%;
}

.labelStyle {
    color: #599BE9;
}

.title {
    color: #599BE9;
}
