body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbutton {
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: black;
	border: 2px solid lightblue; /* Green */
	border-radius: 4px;
}

label {
  margin: 5px;
	padding: 5px;
}

input {
  margin: 5px;
}

.buttonSize{
	height:75px;
	width:150px;
	margin: 50px;
}

.originInterface{
	margin-top:25px;
}
